/* import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	font-family: "Roboto", sans-serif;
}

html {
	background-color: #222222;
	color: #eeeeee;
}

body {
	margin: 0;
	padding: 0;
}

#top-bar ul {
	list-style: none;
	background-color: #666666;
	margin: 0;
	padding-left: 1rem;
}

#top-bar li {
	display: inline;
}

p, h1, h2, h3, h4, h5, h6, ul {
	text-align: center;
}

a:link, a:visited {
	color: #ab77ef;
	text-decoration: none;
}

a:hover {
	color: #d5c2ef;
	text-decoration: underline;